<style type="text/css">
    #headerBG {
        background-image: url(/images/header_background.png);
        height:100%;
        width:100%;
    }
</style>
<div id="headerBG">
<hgroup>
  {% if site.javascript_header %}
    <style type="text/css">
        #headerDiv {
          vertical-align: middle;
          float: left;
        }
    </style>      
    <div id="headerDiv">
      <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
      <h2>{{ site.subtitle }}</h2>
    </div>
  {% else %}
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
      <h2>{{ site.subtitle }}</h2>
    {% endif %}
  {% endif %}
  </hgroup>
</div>
